@media(max-width: 950px){
    // About section
    section#main{
        div.container{
            div#profile-div{
                max-width: 250px;
                height: 400px;
            }

        }
    }

    // About section
    section#about{
       p{
           width: 140%;
           transform: translate(10px, 0px);
           background: #fff;
           padding: 10px;
       }
    }

    //  knowledges section
    section#knowledges{
        .container{
            div{
                padding: 0px 15px;
            }
            div.grid{
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
                img{
                    width: 90px;
                }
            }
        }
    }

    // Projects Session
    section#experiences {
        div.work {
            .logo{
                img{
                    width: 200px;
                }
            }
        }
    }

    section#projects {
        div.project {
            div.project-image{
                margin: 0px 10px;
                img{
                    width: 250px;
                }
            }
        }
    }
}

@media(max-width: 750px){
     // Navbar
     nav#main-nav {
        div#menu{
            padding: 0;
            position: relative;
            height: 5px;
            width: 50px;
            background: #fff;
            transition: transform 0.4s ease-in-out;

            &:after{
                content: '';
                position: absolute;
                width: 50px;
                height: 5px;
                top: -10px;
                background: #fff;
                z-index: 2;
                transition: transform 0.4s ease-in-out;
            }
            &:before{
                content: '';
                position: absolute;
                width: 50px;
                height: 5px;
                top: 10px;
                background: #fff;
                z-index: 2;
                transition: transform 0.4s ease-in-out;
            }

            &.show{
                background: none;
                &:after{
                    top: 0;
                    transform: rotate(135deg);
                }
                &:before{
                    top: 0;
                    transform: rotate(-135deg);
                }
                ul{
                    visibility: visible;
                    transform: scale(1);
                    border-radius: 0;
                }
            }

            ul{
                z-index: 1;
                visibility: hidden;
                top: 0;
                left: 0;
                position: fixed;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: #333333f5;
                width: 100vw;
                height: 100vh;
                transform: scale(0);
                border-radius: 50%;
                transition: all 0.6s ease-in-out;
            }
        }
    }

    // Projects Session
    section#projects {
        div.project {
            div.project-image{
                img{
                    height: auto;
                    max-width: 90vw;
                    max-height: 300px;
                }
            }
        }
    }

    // Experiences section
    section#experiences {
        h3.company{
            text-align: center;
        }
    }

    // Contact session
    section#contact{
        input, textarea{
            padding: 10px 15px;
            display: block;
            outline: none;
            width: 100%;
            margin: 20px 0px;
        }
        form{
            padding: 20px 0px;
            display: block;
            max-width: 650px;
        }
    }

    
// Projects Session
section#projects {

    div.project {
        div.links{
            a.btn{
                margin: 10px 5px;
            }
        }
    }
}

    // Education session
    section#education{
        .education-name {
            text-align: center;
        }
    }

}