@import 'reset';
$primary-color: #fff;
$secondary-color: #085670;
$dark-color: #118AB2;
$medium-color: #4c4c4c;
$light-color: #f4f4f4;
// Utilites
div.bottom-line{
    height: 7px;
    width: 100px;
    margin: 0 auto;
    background: $dark-color;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
section{
    padding: 60px 20px;
    h2.l-leading{
        text-align: center;
        font-size: 1.6rem;
    }
}
.btn{
    display: inline-block;
    padding: 15px 20px;
}

// Navbar
nav#main-nav {
    background: $dark-color;
    color: $light-color;
    padding: 5px 15px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    a{
        color: $light-color;
    }
    h1{
        margin: 0;
    }
    ul{
        display: flex;
        justify-content: flex-end;
        li{
            padding: 10px 15px;
            a{
                position: relative;
                &:after{
                    content: '';
                    position: absolute;
                    bottom: -50%;
                    left: 0px;
                    width: 100%;
                    height: 3px;
                    background: $secondary-color;
                    transform: scale(0);
                    transition: transform 0.4s ease-in-out;
                }
            }
            &:hover  a:after{
                transform: scale(1);
            }
        }
    }
}

// Main section
section#main{
    height: 100vh;
    min-height: 500px;
    div.container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            flex: 1; 
        }
        #profile-div{
            border: #3792cb solid 10px;
            height: 400px;
            width: 400px;
            max-height: 400px;
            max-width: 400px;
            #profile-image{
                transform: translate(30px, -30px);
                width: 100%;
                height: 100%;
                background: url('../img/profile-picture.jpg') no-repeat center center /cover;
            }
        }
        #about-text{
            width: 400px;
            max-width: 400px;
            padding: 0 30px;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            p:first-of-type{
                margin: 5;
            }
            h1{
                font-size: 3rem;
            }
            div.social-links{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 3rem;
                margin-bottom: 50px;
                i{
                    margin: 0px 20px;
                    color: $dark-color;
                    &:hover{
                        color: $secondary-color;
                    }
                }
            }
            div.arrow-bottom{
                width: 100%;
                text-align: center;
                font-size: 3rem;
                i{
                    color: $dark-color;
                    &:hover{
                        color: $secondary-color;
                    }
                    animation: pulse 0.4s ease-in-out infinite;
                    animation-direction: alternate;
                }
            }
        }
        
    }
}

@keyframes pulse {
    0%{
      transform: translate(0px, 0px);
    }
    100% {
        transform: translate(0px, 10px);
    }
  }

// about section
section#about{
        height: 100vh; 
        min-height: 500px;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            flex: 1;
            padding: 0px 35px;
        }
        div:first-child{
            .bottom-line{
                margin-bottom: 50px;
            }
        }
        div#about-image{
            width: 100%;
            min-height: 100%;
            background: url("../img/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpg") no-repeat center center /cover;
        }
}


// knowledges section
section#knowledges{
    height: 100vh;
    min-height: 500px;
    padding: 30px 20px;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        div{
            flex: 1;
            padding: 0px 20px;
        }
        div.grid{
            height: 80%;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-content: center;
            gap: 40px;
            img{
                width: 80px;
                height: auto;
                filter: grayscale(1);
                transition: filter 0.3s ease-in-out;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
        div.knowledge-text{
            .bottom-line{
                margin-bottom: 50px;
            }
            max-width: 550px;
        }
    }
}


// Experiences section
section#experiences {
    .container > div.work{
        border-bottom: dotted #cecece 2px;
    }
    .container > div.work:last-child{
        border-top: none;
    }
    div.work {
        display: flex;
        padding: 35px 0px;
        align-items: center;
        .logo{
            margin-right: 30px;
            img{
                width: 350px;
            }
        }
        .office, .period {
            display: block;
            color: $medium-color;
        }
    }
}

// Projects Session
section#projects {
    background: #F3F5FA;
    div.project {
        margin: 20px 0px;
        padding: 20px;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 30px;
        box-shadow: $medium-color 0px 0px 5px;
        transform: translateX(-100vw);
        transition: transform 0.7s ease-in-out;
        &.box-enter{
            transform: translateX(0);
        }
        &:last-child{
            border-bottom: none;
        }
        div.project-image{
            margin: 0px 15px;
            img{
                width: 300px;
                border-radius: 20px;
                transition: box-shadow 0.3s ease-in-out;
            }
            &:hover img{
                box-shadow: #333 2px 2px 5px;
            }
        }
        .techs{
            color: $medium-color;
        }
        div.links{
            text-align: center;
            a.btn{
                margin: 0px 10px;
                border-radius: 15px;
                transition: all 0.2s ease-in-out;
                &.code{
                    background: #333;
                    color: $light-color;
                }
                &.visit{
                    background: $dark-color;
                    color: #fff;
                    border-radius: 15px;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}

// Education session
section#education{
    .container{
        display: flex;
        padding-top: 25px;
    }
    .education-item {
        flex: 1;
        padding: 20px;
    }
    .education-place, .period{
        display: block;
        color: $medium-color;
    }
}

// Contact session
section#contact{
    input, textarea{
        padding: 10px 15px;
        display: block;
        outline: none;
        border: 1px solid #999;
        &:focus{
            border-color: #3792cb;
        }
    }
    

    form{
        padding: 20px 0px;
        display: grid;
        grid-template-areas: 
            "name company "
            "email email "
            "phone-number phone-number "
            "message message "
            "captcha captcha"
            "submit submit "
        ;
        gap: 20px;
        max-width: 650px;
        margin: 15px auto;
        input[type='submit']{
            color: #fff;
            border: none;
            background: $dark-color;
            font-weight: bold;
            padding: 15px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                opacity: 0.9;
            }
        }
        textarea{
            min-height: 50px;
            height: 100px;
            resize:vertical;
        }
        #name{
            grid-area: name;
        }
        #comapny{
            grid-area: company;
        }
        #email{
            grid-area: email;
        }
        #phone-number{
            grid-area: phone-number;
        }
        #message{
            grid-area: message;
        }
        #captcha{
            grid-area: captcha;
        }
        input[type='submit']{
            grid-area: submit;
        }
    }
}

// Footer
footer#main-footer{
    background: $dark-color;
    color: $light-color;
    text-align: center;
    padding: 15px 10px;
    i{
        color: #fff;
        font-size: 1.3rem;
    }
}
